
*{

    font-family: 'Rubik', sans-serif;
    
}

body{

    background-image: url(img/rosario.jpg);
    
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(41, 35, 35);
    position: relative;
    display: flex;
    height: 99vh;
    width: 98vw;
}

h2{
    color: rgb(37, 34, 34);

}

p {

    color: whitesmoke;
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

#iconText img {
    
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#iconText{

    display: flex;

}

.divSearch{

    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(87, 86, 83, 0.664);
    padding: 22px;
    
    width: max-content;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    margin: 20px;
}

#searchBar {

    width: 260px;
    height: 42px;
    margin-right: 10px;
    border-style: none;
    border-bottom: 1px solid whitesmoke;
    font-size: 20px;
    border-radius: 5px;
}

#searchIcon {

    width: 48px;
    height: 48px;
    background-color:rgb(71, 71, 63);
    border-radius: 10px;



}

.recentCity{

    font-size: 26px;
    font-weight: 300;
    margin: 12px;

}

.containerStats{

    display: flex;
    position: absolute;
    bottom: 22px;     
    margin: 20px;
    margin-left: 28px;
    padding: 10px;
    text-align: left;
    align-items: center;
    justify-content: space-around; 
    background-color: rgba(34, 32, 32, 0.253);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    

}

#divTemperature{

    display: flex;
    vertical-align: baseline;
}

#temperature{

    font-size: 82px;
    vertical-align: bottom;
}

#metricCelcius{

    font-size: 62px;
    font-weight: 300;
    margin-right: 22px;
    vertical-align: center;
}


#spaceBetween {

    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
}

#windSpeedKM{

    margin-left: 4vw;
}

#humidityPorcentage{

    margin-left: 4vw;
}

.hidden{

    display: none !important;
    visibility: hidden;

}

.show{

    transition: 1s;
    visibility: visible;
}

#bigPadding{

    padding: 25px;
}